.cabecalho {
    background-color: #383D58;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 20%;
}

.itens-cabecalho-lista {
    display: inline-block;
    margin: 0 16px;
}